<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} I messed up... {% endblock %}</title>
    <!-- Primary Meta Tags -->
    <title>Saba Sakvarelidze | Portfolio</title>
    <meta name="title" content="Saba Sakvarelidze | Portfolio">
    <meta name="description" content="Hi! I'm Saba, DevOps Engineer and Back-end developer. Let's get in touch!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Saba Sakvarelidze | Portfolio">
    <meta property="og:description" content="Hi! I'm Saba, DevOps Engineer and Back-end developer. Let's get in touch!">
    <meta property="og:image" content="{{ url_for('static', filename='images/me.jpeg') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Saba Sakvarelidze | Portfolio">
    <meta property="twitter:description" content="Hi! I'm Saba, DevOps Engineer and Back-end developer. Let's get in touch!">
    <meta property="twitter:image" content="{{ url_for('static', filename='images/me.jpeg') }}">
    <!-- Additional Tags -->
    <meta name="apple-mobile-web-app-title" content="saba.wtf">
    <meta name="application-name" content="saba.wtf">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- Stylesheet & Favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest')  }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg') }}" color="#4b7884">
</head>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="container intro-container">
            <h3>I messed something up 🤫</h3>
            <p> Yup... I am to blame. Please hold on tight while I'm trying to fix this. Also, please try going <a href="{{ url_for('index') }}" target="">back to homepage</a></p>
            <h2 align="center">Patience is a virtue (╯°□°)╯︵ ┻━┻ </h2>
        </div>
</div>
</main>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>